$tablet: 1023px;
$mobile: 767px;

$bg-color: rgb(242, 242, 242);
$primary-color: rgba(15,178,149);
$light-color: rgb(255, 255, 255);
$dark-color: rgb(0, 0, 0);
$translucent-color: rgba(0, 0, 0, 0.2);
$transparent-color: rgba(255, 0, 0, 0);
$shadow-color: rgb(168, 173, 179);
$disabled-color: rgb(225, 226, 228);
$absent-color: rgba(168, 173, 179);
$present-color: rgba(192, 146, 48, 0.74);