.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.modal__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 180px auto;
    padding: 30px;
    border: none;
    box-shadow: 2px 2px 3px rgb(168, 173, 179);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.wrong-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.wrong-modal__container {
    position: relative;
    width: fit-content;
    border: none;
    box-shadow: 1px 1px 2px rgb(168, 173, 179);
    border-radius: 10px;
    margin: 400px auto;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
}

.wrong-modal--text {
    font-size: 20px;
    margin: 0;
}

.modal__button--close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 10px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    background-color: rgba(255, 0, 0, 0);
    font-weight: 600;
    font-size: 30px;
}

.modal__title {
    margin: 0;
    margin-bottom: 50px;
}

.modal__text {
    margin: 0;
    margin-bottom: 30px;
}

.modal__button--submit {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(168, 173, 179);
    background-color: rgba(15,178,149);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
}

.modal__button--submit:hover {
    background-color: rgba(192, 146, 48, 0.74);
}

.modal__button--submit:active {
    box-shadow: none;
}

.title__container {
    padding: 10px 15px;
    margin: 30px auto 30px;
}

.title {
    text-align: center;
    margin: 0;
    color: rgba(15, 178, 149);
    font-size: 45px;
}

.selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
}

.selection__container {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.selection__restart-button {
    cursor: pointer;
    padding: 6px 15px;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 3px rgb(168, 173, 179);
    background-color: rgba(15,178,149);
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: fit-content;
    margin: 0 auto;
    grid-column-start: 2;
}

.selection__restart-button:hover {
    background-color: rgba(192, 146, 48);
}

.selection__restart-button:active {
    box-shadow: none;
}

.selection__label {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgb(168, 173, 179);
    width: 30px;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 10px;
    text-align: center;
    margin-right: 5px;
    background-color: rgb(255, 255, 255);
    font-weight: 400;
}

.selection__label--current {
    background-color: rgba(15,178,149);
    color: rgb(255, 255, 255);
    box-shadow: none;
}

.selection__label--disabled {
    background-color: rgb(225, 226, 228);
    color: rgb(255, 255, 255);
}

.selection__input {
    display: none;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    background-color: rgb(242, 242, 242);
    width: fit-content;
    margin: 0 auto 30px;
}

.line {
    display: flex;
    gap: 5px;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 30px;
    box-shadow: 1px 1px 2px rgb(168, 173, 179);
    background-color: rgb(255, 255, 255);
}

.letter--absent {
    background-color: rgba(168, 173, 179);
    color: rgb(255, 255, 255);
}

.letter--present {
    background-color: rgba(192, 146, 48, 0.74);
    color: rgb(255, 255, 255);
}

.letter--correct {
    background-color: rgba(15,178,149);
    color: rgb(255, 255, 255);
}

.keyboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 5px;
    padding: 20px;
    background-color: rgb(242, 242, 242);
}

.keyboard__row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.keyboard__button {
    cursor: pointer;
    width: 65px;
    height: 35px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(168, 173, 179);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 16px;
}

.button--wide {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard__button:hover {
    background-color: rgb(225, 226, 228);
}

.keyboard__button:active {
    box-shadow: none;
}

.keyboard__button--absent {
    background-color: rgba(168, 173, 179);
    color: rgb(255, 255, 255);
}

.keyboard__button--present {
    background-color: rgba(192, 146, 48, 0.74);
    color: rgb(255, 255, 255);
}

.keyboard__button--correct {
    background-color: rgb(15, 178, 149);
    color: rgb(255, 255, 255);
}